
/1. Исследование данных сервиса “Яндекс.Музыка” — сравнение пользователей двух городов/.ipynb_checkpoints
/1. Исследование данных сервиса “Яндекс.Музыка” — сравнение пользователей двух городов/datasets
/10. Анализ пользовательского поведения в мобильном приложении/.ipynb_checkpoints
/10. Анализ пользовательского поведения в мобильном приложении/datasets
/11. Создание дашборда по пользовательским событиям для агрегатора новостей/.ipynb_checkpoints
11. Создание дашборда по пользовательским событиям для агрегатора новостей/dash_visits.csv
/12. Прогнозирование вероятности оттока пользователей для фитнес-центров/.ipynb_checkpoints
/12. Прогнозирование вероятности оттока пользователей для фитнес-центров/datasets
/13. Выпускной проект/.ipynb_checkpoints
/2. Исследование надёжности заёмщиков — анализ банковских данных/.ipynb_checkpoints
/3. Продажа квартир в Санкт-Петербурге — анализ рынка недвижимости/.ipynb_checkpoints
/3. Продажа квартир в Санкт-Петербурге — анализ рынка недвижимости/datasets
/2. Исследование надёжности заёмщиков — анализ банковских данных/datasets
/4. Определение выгодного тарифа для телеком компании/.ipynb_checkpoints
/4. Определение выгодного тарифа для телеком компании/datasets
/5. Изучение закономерностей, определяющих успешность игр/.ipynb_checkpoints
/5. Изучение закономерностей, определяющих успешность игр/datasets
/6. Исследование данных об инвестиции венчурных фондов в компании-стартапы/.ipynb_checkpoints
/7. Анализ убытков приложения ProcrastinatePRO+/.ipynb_checkpoints
/7. Анализ убытков приложения ProcrastinatePRO+/datasets
/8. Проверка гипотез по увеличению выручки в интернет-магазине — оценить результаты A:B теста/.ipynb_checkpoints
/8. Проверка гипотез по увеличению выручки в интернет-магазине — оценить результаты A:B теста/datasets
/9. Исследования рынка общепита в Москве для принятия решения об открытии нового заведения/.ipynb_checkpoints
/9. Исследования рынка общепита в Москве для принятия решения об открытии нового заведения/datasets
/01. Исследование данных сервиса “Яндекс.Музыка” — сравнение пользователей двух городов/.ipynb_checkpoints
/01. Исследование данных сервиса “Яндекс.Музыка” — сравнение пользователей двух городов/datasets
/02. Исследование надёжности заёмщиков — анализ банковских данных/.ipynb_checkpoints
/02. Исследование надёжности заёмщиков — анализ банковских данных/datasets
/03. Продажа квартир в Санкт-Петербурге — анализ рынка недвижимости/.ipynb_checkpoints
/03. Продажа квартир в Санкт-Петербурге — анализ рынка недвижимости/datasets
/04. Определение выгодного тарифа для телеком компании/.ipynb_checkpoints
/05. Изучение закономерностей, определяющих успешность игр/.ipynb_checkpoints
/05. Изучение закономерностей, определяющих успешность игр/datasets
/04. Определение выгодного тарифа для телеком компании/datasets
/06. Исследование данных об инвестиции венчурных фондов в компании-стартапы/.ipynb_checkpoints
/07. Анализ убытков приложения ProcrastinatePRO+/.ipynb_checkpoints
/07. Анализ убытков приложения ProcrastinatePRO+/datasets
/08. Проверка гипотез по увеличению выручки в интернет-магазине — оценить результаты A:B теста/.ipynb_checkpoints
/08. Проверка гипотез по увеличению выручки в интернет-магазине — оценить результаты A:B теста/datasets
/09. Исследования рынка общепита в Москве для принятия решения об открытии нового заведения/.ipynb_checkpoints
/09. Исследования рынка общепита в Москве для принятия решения об открытии нового заведения/datasets
