
/1. Исследование данных сервиса “Яндекс.Музыка” — сравнение пользователей двух городов/.ipynb_checkpoints
/1. Исследование данных сервиса “Яндекс.Музыка” — сравнение пользователей двух городов/datasets
